<h1>Plant Based Meals</h1>
<div>
<table>
  <tr>
    <th>Date</th>
    <th>Meal</th>
    <th>Notes</th>
    <th>Links</th>
    <th></th>
  </tr>

  <% @meals.each do |meal| %>

  <tr>
    <td><%= meal.created_at.strftime("%b %d, %H:%M ")%></td>
    <td><%= link_to meal.title, meal_path(meal) %></td>
    <td><%= meal.text %></td>
    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
    <td><%= link_to 'Delete', meal_path(meal),
    method: :delete,
    data: { confirm: 'Are you sure?' } %></td>
  </tr>

  <% end %>
</table>
</div>
<p> Successful Meals: <%= @count %> </p>
<%= link_to 'Home', controller: 'home_screen' %>
