<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @meal.text %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
<%= link_to 'Home', controller: 'home_screen' %>
